<p>Fuck Private Property {{ now.Year }}. Fight Fascism.</p>
<footer>
    <p>&copy; 2024 BashTheFash</p>
    <div>
        <a href="https://twitter.com/bashthefash161" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://wwww.facebook.com/BashTheFash161" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://instagram.com/bashthe_fash?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@bashthefash_161" target="_blank"><i class="fa fa-tiktok"></i></a>
        <a href="https://linktr.ee/BashTheFash161" target="_blank"><i class="fa fa-linktree"></i></a>
    </div>
</footer>